name: lakehouse unit tests (JDK17)

on:
  pull_request:
    branches:
      - master
      - branch-*
  push:
    branches:
      - master
      - branch-*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        if: ${{ needs.changed_files_job.outputs.docs_only != 'true' }}
        with:
          distribution: 'temurin'
          java-version: 17

      - name: License check
        run: mvn -ntp -B license:check

      - name: Build cloud package with Maven skipTests
        run: mvn clean install -ntp -B -DskipTests -P cloud

      - name: Build with Maven skipTests
        run: mvn clean install -ntp -B -DskipTests

      - name: Style check
        run: mvn -ntp -B checkstyle:check

      - name: Spotbugs check
        run: mvn -ntp -B spotbugs:check

      - name: unit test after build
        env:
          CLOUD_BUCKET_NAME: ${{ secrets.CLOUD_BUCKET_NAME }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        run: mvn test -Pcloud

      - name: package surefire artifacts
        if: failure()
        run: |
          rm -rf artifacts
          mkdir artifacts
          find . -type d -name "*surefire*" -exec cp --parents -R {} artifacts/ \;
          zip -r artifacts.zip artifacts
      - uses: actions/upload-artifact@master
        name: upload surefire-artifacts
        if: failure()
        with:
          name: surefire-artifacts
          path: artifacts.zip
